# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
*.7z

# Dependency files
*.d

# Backup files
*~
.DS_Store
._*

*.xcodeproj

# Project executables
5G-air-simulator
cqi_fifo
sched_fifo
state_fifo

#Fast Fading Traces
dqn/libtorch/*
dqn/build/*
old_dqn/*
LSTM/build/*
LSTM/libtorch/*
LSTM/model/*
LSTM/trace/*
